<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="largeWhite navbar-text">
                {{title}}
                <button class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" style="margin-right:5px"></span>Powrót</button>
            </div>
            <div class="navbar-text nav navbar-nav navbar-right">
                <ul>
                    <li><a href="#" class="navbar-link" ng-click="logout()">{{currentUser}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>