<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rules" type="DnDHelper.RulesConfigSection, DnDHelperLib"/>
  </configSections>
  <appSettings>
    <add key="XmlRepositoryPath" value="D:\C#\dndhelper\trunk\DnDHelper.GUI.WPF\Repositories"/>
    <add key="JsonRepositoryPath" value="Repositories"/>
  </appSettings>
  <rules SkillsPath="d:\Development\.NET\DnDHelper\trunk\DnDHelper.Test\bin\Debug\Rules\Skills.xml" AtutesPath="d:\Development\.NET\DnDHelper\trunk\DnDHelper.Test\bin\Debug\Rules\Atutes.xml" ClassesPath="d:\Development\.NET\DnDHelper\trunk\DnDHelper.Test\bin\Debug\Rules\Classes.xml" SpellsPath="d:\Development\.NET\DnDHelper\trunk\DnDHelper.Test\bin\Debug\Rules\Spells.xml" RacesPath="d:\Development\.NET\DnDHelper\trunk\DnDHelper.Test\bin\Debug\Rules\Races.xml"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53239/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService" contract="RealUpdateService.IUpdateService" name="BasicHttpBinding_IUpdateService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
