<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="XmlRepositoryPath" value="D:\C#\dndhelper\trunk\DnDHelper.GUI.WPF\Repositories"/>
    <add key="JsonRepositoryPath" value="D:\Development\.NET\DnDHelper\trunk\DnDHelper.GUI.WPF\Repositories"/>
    <add key="UpdatesInterval" value="5"/>
    <add key="BriefServiceInterval" value="5"/>
    <add key="BriefGroups" value="_Drużyna"/>
    <add key="BriefServiceUrl" value="http://localhost:32480/"/>
  </appSettings>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level (%file:%line) - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/DnDHelper.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateService" maxReceivedMessageSize="880485760"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://updater.perszewski.pl/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService" contract="DnDHelper.UpdateServiceAPI.IUpdateService" name="BasicHttpBinding_IUpdateService"/>
      <!--<endpoint address="http://localhost:50453/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService" contract="DnDHelper.UpdateServiceAPI.IUpdateService" name="BasicHttpBinding_IUpdateService"/>-->
    </client>
  </system.serviceModel>
</configuration>
