<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rulesSection" type="DnDHelper.RulesConfigSection, DnDHelperLib" />
	</configSections>
	<appSettings>
		<add key="FTPServer" value="ftp://ftp.perszewski.pl"/>
		<add key="FTPUser" value="macper-helper"/>
		<add key="FTPPassword" value="mac21Helper"/>
		<add key="FTPAppDir" value=""/>
	</appSettings>
	<rulesSection
		SkillsPath = "Rules\Skills.xml"
		AtutesPath = "Rules\Atutes.xml"
		ClassesPath = "Rules\Classes.xml"
		SpellsPath = "Rules\Spells.xml"
    RacesPath = "Rules\Races.xml"
	/>
</configuration>